@* Partial: Copy site footer *@
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/codevocado.jpg" alt="Codevocado Logo">
                <p>Codevocado - Empowering Digital Solutions</p>
                <p>18 deubari deoria UP 274604</p>
                <p>Website: <a href="https://codevocado.in/" target="_blank">www.codevocado.in</a></p>
            </div>
            <div class="col-md-4">
                <p>Time Zone: <p>Fri Oct 24 2025 19:53:31 GMT+0530 (IST)</p></p>
            </div>
            <div class="col-md-4">
                <div class="footer-links">
                    <p>Follow us on</p>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in linked-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p>&copy; 2025 By <a href="https://codevocado.in/" target="_blank">Codevocado</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
