@* Partial: Copy site header/navigation *@
<header>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="https://codevocado.in/codevocado/static/media/m10.5cb9a12a09dadd737e0a.jpg" alt="Logo" />
            </a>
            <a href="/">
                <h3>SCHOOL MANAGEMENT</h3>
            </a>
        </div>

        <div class="nav-container">

            <div class="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">About-us</a></li>
                    <li><a href="/login" class="btn">Login</a></li>
                </ul>
            </div>
            <div class="bottom-area">
                <div class="container">
                    <button class="toggle-btn">
                        <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="overlay"></div>

        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
    </div>
</header>
